<div class="app-container">
  <!-- Header médecin - affiché seulement sur les routes /medecin -->
  @if (isDoctorRoute()) {
  <app-header-med></app-header-med>
  }

  <!-- Header secrétaire - affiché seulement sur les routes /secritaire -->
  @else if (isSecretaryRoute()) {
  <!-- Si vous avez un header spécifique pour secrétaire, sinon utiliser le header principal -->
  <app-header-sec></app-header-sec>
  }
  @else if (isAdminRoute()) {
  <!-- Si vous avez un header spécifique pour secrétaire, sinon utiliser le header principal -->
  <app-admin-header></app-admin-header>
  }

  @else if (isAdminSupRoute()) {
  <!-- Si vous avez un header spécifique pour secrétaire, sinon utiliser le header principal -->
  <app-admin-sup-header></app-admin-sup-header>
  }

  <!-- Header principal - affiché seulement sur les routes publiques -->
  @else {
  <app-header></app-header>
  }

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

  <!-- Footer affiché seulement sur les routes publiques -->
  @if (isPublicRoute()) {
  <app-footer></app-footer>
  }
</div>
